@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.font-inter{
  font-family: 'Inter', sans-serif;
}
.font-Osans{
  font-family: 'Open Sans', sans-serif;
}
.font-poppins{
  font-family: 'Poppins', sans-serif;
}

.border-width{
  border-width: 1.5px;
}

.mrounded{
  border-radius: 10px;
}
.card-shadow{
  box-shadow: 2px 4px 15px 0px rgba(133, 133, 167, 0.25);
}
.shadow2{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
